:root {
  --fs-h2-mobile:3rem;
  --fs-h3-mobile:2.625rem;
  --fs-text:0.875rem;
  --fs-footer-mobile:1rem;
  --ff-title:"Merriweather", serif;
  --ff-paragraph:"Roboto Mono", monospace;
  --clr-principal:#000000;
  --clr-border:#232020;
  --clr-blue:#26498d;
  --clr-selected:#ffffff;
  --clr-body:#f3efee;
  --transitionClr:.2s color;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1750px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
  font-family: var(--ff-paragraph);
  color: var(--clr-principal);
  background-image: url(../image/image/noisebg.jpeg);
}
@media screen and (min-width: 768px) {
  body {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 25px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    padding: 35px;
  }
}

::selection {
  background-color: var(--clr-blue);
  color: var(--clr-selected);
}

main {
  overflow: hidden;
}

h2, h3 {
  font-family: var(--ff-title);
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.5;
}

h2 {
  font-size: clamp(2.1875rem, 5vw, 6rem);
}

h3 {
  font-size: clamp(2rem, 3vw, 4.5rem);
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: var(--ff-paragraph);
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--clr-principal);
}

span {
  display: block;
}

.headerContainer {
  border: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .headerContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
}

.logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo__link {
    font-weight: 700;
    font-size: clamp(2.5rem, 5vw, 6rem);
    transition: var(--transitionClr);
  }
  .logo__link:hover {
    color: var(--clr-blue);
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
}
.headerContent__title {
  margin: 0;
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 6rem);
}
.headerContent__span {
  font-size: clamp(1.3125rem, 1.5vw, 2rem);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .headerContent {
    border-right: 2px solid var(--clr-border);
    border-left: 2px solid var(--clr-border);
  }
}

.headerSocialMedia {
  display: none;
}
@media screen and (min-width: 768px) {
  .headerSocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.25rem, 1.5vw, 2.1875rem);
    flex-direction: column;
    font-weight: 600;
  }
  .headerSocialMedia__link {
    display: inline-block;
    text-transform: uppercase;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    transition: var(--transitionClr);
  }
  .headerSocialMedia__link:hover {
    color: var(--clr-blue);
  }
}

.nav {
  border-right: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  border-left: 2px solid var(--clr-border);
}

.navList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "navList__item--about navList__item--skills navList__item--works" ". navList__item--contact . ";
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navList__item--about {
  border-right: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  grid-area: navList__item--about;
}
@media screen and (min-width: 768px) {
  .navList__item--about {
    border-bottom: none;
  }
}
.navList__item--skills {
  border-bottom: 2px solid var(--clr-border);
  grid-area: navList__item--skills;
}
@media screen and (min-width: 768px) {
  .navList__item--skills {
    border-bottom: none;
  }
}
.navList__item--works {
  border-left: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  grid-area: navList__item--works;
}
@media screen and (min-width: 768px) {
  .navList__item--works {
    border-bottom: none;
  }
}
.navList__item--contact {
  grid-area: navList__item--contact;
}
@media screen and (min-width: 768px) {
  .navList__item--contact {
    border-left: 2px solid var(--clr-border);
  }
}
.navList__item .navList__link {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  transition: var(--transitionClr);
}
.navList__item .navList__link:hover {
  color: var(--clr-blue);
}
@media screen and (min-width: 768px) {
  .navList {
    grid-template-areas: "navList__item--about navList__item--skills navList__item--works navList__item--contact";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerContent {
  border-right: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  border-left: 2px solid var(--clr-border);
}
.footerContent__link {
  display: block;
  height: clamp(3.125rem, 5vw, 6.25rem);
  line-height: clamp(3.125rem, 5vw, 6.25rem);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  font-size: clamp(1.3125rem, 3vw, 4rem);
  border-bottom: 2px solid var(--clr-border);
  transition: var(--transitionClr);
}
.footerContent__link:hover {
  color: var(--clr-blue);
}

.footerContentParagraph__paragraph {
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footerContentParagraph__paragraph {
    padding: 0;
  }
}
.footerContentParagraph__paragraph--border {
  border-top: 2px solid var(--clr-border);
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footerContentParagraph__paragraph--border {
    border-top: none;
    border-left: 2px solid var(--clr-border);
  }
}
@media screen and (min-width: 768px) {
  .footerContentParagraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.footerContentParagraph__linkGithub {
  text-decoration: underline;
  transition: var(--transitionClr);
  font-weight: 600;
}
.footerContentParagraph__linkGithub:hover {
  color: var(--clr-blue);
}

@media screen and (min-width: 768px) {
  .heroAndSkill {
    display: grid;
    grid-template-columns: 55% 45%;
  }
}

.hero {
  position: relative;
}
.hero__title {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    border-bottom: none;
  }
}

.heroContainer {
  display: grid;
  gap: 16px;
  padding: clamp(1.25rem, 5vw, 2.5rem);
  text-align: center;
  border-left: 2px solid var(--clr-border);
  border-right: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .heroContainer {
    border-right: none;
  }
}
@media screen and (min-width: 1024px) {
  .heroContainer {
    text-align: left;
  }
}
.heroContainer__img {
  max-width: 450px;
  margin: 0 auto;
}
.heroContainer__paragraph--margin {
  margin-bottom: 55px;
}

.heroSocialMedia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.heroSocialMedia__link {
  padding: 16px 0;
  border-top: 2px solid var(--clr-border);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  transition: var(--transitionClr);
  font-weight: 600;
  border-bottom: 2px solid var(--clr-border);
}
.heroSocialMedia__link:hover {
  color: var(--clr-blue);
}
.heroSocialMedia__link--cv {
  border-left: 2px solid var(--clr-border);
  border-right: 2px solid var(--clr-border);
}
.heroSocialMedia__link--linkedin {
  border-left: 2px solid var(--clr-border);
  border-right: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .heroSocialMedia__link--linkedin {
    border-right: none;
  }
}
@media screen and (min-width: 768px) {
  .heroSocialMedia {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: clamp(1.25rem, 5vw, 2.5rem);
  border-right: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  border-left: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .skills {
    border-left: 2px solid var(--clr-border);
  }
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .skillsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

.skillBox {
  text-align: center;
}
.skillBox__img {
  width: clamp(3.125rem, 3.5vw, 4.6875rem);
  height: clamp(3.125rem, 3.5vw, 4.6875rem);
}
.skillBox__img--prepros {
  margin: 0 auto;
}
.skillBox__span {
  display: block;
  font-size: clamp(1rem, 1.15vw, 1.25rem);
  font-weight: 600;
  margin-top: 5px;
}

.st0 {
  fill: #c1272d;
}

.st1 {
  fill: #efcca3;
}

.st2 {
  fill: #ed1c24;
}

.st3 {
  fill: #ccac8d;
}

.st4 {
  fill: #fff;
}

.st5 {
  fill: #ff931e;
}

.st6 {
  fill: #ffb81e;
}

.st7 {
  fill: #56332b;
}

.st8 {
  fill: #442823;
}

.st9 {
  fill: #7f4a41;
}

.st10 {
  fill: #331712;
}

.st11 {
  fill: #fc6;
}

.st12 {
  fill: #ccc;
}

.st13 {
  fill: #b3b3b3;
}

.st14 {
  fill: #989898;
}

.st15 {
  fill: #323232;
}

.st16 {
  fill: #1e1e1e;
}

.st17 {
  fill: #4c4c4c;
}

.st18 {
  fill: #e6e6e6;
}

.st19 {
  fill: #606060;
}

.aboutContainer {
  border-right: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  border-left: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .aboutContainer {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

.aboutExtra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: clamp(1.25rem, 5vw, 2.5rem);
  border-bottom: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .aboutExtra {
    border-bottom: none;
    border-right: 2px solid var(--clr-border);
  }
}
.aboutExtra__img {
  object-fit: cover;
  display: none;
}

.aboutContent {
  padding: clamp(1.25rem, 5vw, 2.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutContent__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .aboutContent__img {
    display: block;
    max-width: 450px;
  }
}

.aboutContentBox {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .aboutContentBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .aboutContentBox {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.aboutContentBox__img {
  max-width: 350px;
}

.works {
  border-right: 2px solid var(--clr-border);
  border-left: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.work {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  padding: clamp(1.25rem, 5vw, 2.5rem);
}
.work__link {
  display: grid;
  gap: 1rem;
  margin-bottom: 55px;
  transition: var(--transitionClr);
}
.work__link:hover {
  color: var(--clr-blue);
}
.work__paragraph--margin {
  margin-top: 55px;
}

.workImg {
  position: relative;
  width: 90%;
  height: 200px;
  border: 2px solid var(--clr-border);
  border-radius: 20px;
  box-shadow: 5px 5px var(--clr-border);
  background-image: url(../image/image/retroPorfolioWeb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.workImg__mobile {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  bottom: -45.5px;
  right: -37.5px;
  border-radius: 20px;
  border: 2px solid var(--clr-border);
  box-shadow: 5px 5px var(--clr-border);
  z-index: 10;
  background-image: url(../image/image/retroPorfolioWebMobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work--first {
  border-bottom: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .work--first {
    border-right: 2px solid var(--clr-border);
  }
}

.work--second {
  border-bottom: 2px solid var(--clr-border);
}
@media screen and (min-width: 768px) {
  .work--second {
    border-right: 2px solid var(--clr-border);
  }
}

.work--third {
  border-bottom: 2px solid var(--clr-border);
}

.workLinks {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  border-top: 2px solid var(--clr-border);
}
.workLinks__link {
  padding: 16px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  transition: var(--transitionClr);
}
.workLinks__link:hover {
  color: var(--clr-blue);
}
.workLinks__link--github {
  border-right: 2px solid var(--clr-border);
}

/*# sourceMappingURL=index.css.map */
