:root {
    --fs-h2-mobile:3rem;
    --fs-h3-mobile:2.625rem;
    --fs-text:0.875rem;
    --fs-footer-mobile:1rem;

    --ff-title:'Merriweather', serif;
    --ff-paragraph:'Roboto Mono', monospace;

    --clr-principal:#000000;
    --clr-border:#232020;
    --clr-blue:#26498d;
    --clr-blueHover:rgba(37, 72, 141, 0.176);
    --clr-selected:#ffffff;
    --clr-body:#f3efee;

    --transitionClr:.2s color;
}