@use '../sass/variables';
@use '../sass/general';
@use '../sass/header';
@use '../sass/footer';

.main {
    border-left: 2px solid var(--clr-border);
    border-right: 2px solid var(--clr-border);
    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.contactContent {
    position: relative;
}

.contactContentInfo {
    display: grid;
    gap: 1rem;
    padding: clamp(1.25rem , 5vw , 2.5rem);
    &__paragraph {
        &--margin {
            margin-bottom: 55px;
        }
    }
}

.contactContentLinks {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: grid;
    border-top: 2px solid var(--clr-border);
    grid-template-columns: repeat(2 , 1fr);
    text-align: center;
    border-bottom: 2px solid var(--clr-border);
    @media screen and (min-width:768px){
        border-bottom: none;
    }

    &__link {
        padding: 1rem;
        font-weight: 600;
        transition: var(--transitionClr);
        &:hover {
            color: var(--clr-blue);
        }

        &--border {
            border-right: 2px solid var(--clr-border);
        }
    }
}

.form {
    display: grid;
    gap: 1.5rem;
    padding: clamp(1.25rem , 5vw , 2.5rem);
    @media screen and (min-width:768px){
        border-left: 2px solid var(--clr-border);
        gap: 3rem;
    }

    @media screen and (min-width:1440px){
        display: grid;
        grid-template-columns: repeat(2 , auto);
        grid-template-rows: repeat(3 , auto);
        grid-template-areas:
        "formName formEmail"
        "formTextarea formTextarea"
        "button button";
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    &__label {
        display: block;
    }

    &__input {
        padding: 1rem;
        border: none;
        outline: 2px solid transparent;
        transition: .3s outline;
        &:focus {
            outline: 2px solid var(--clr-blue);
        }
    }

    &__textarea {
        padding: 1rem 1rem 6rem 1rem;
        resize: vertical;
        min-height: 150.78px;
        max-height: 300px;
        border: none;
        outline: 2px solid transparent;
        transition: .3s outline;
        &:focus {
            outline: 2px solid var(--clr-blue);
        }
    }
}

.formName {
    @media screen and (min-width:1440px) {
        grid-area: formName;
    }
}

.formEmail {
    @media screen and (min-width:1440px) {
        grid-area: formEmail;
    }
}

.formTextarea {
    @media screen and (min-width:1440px) {
        grid-area: formTextarea;
    }
}

.button {
    padding: 1rem 3rem;
    background-color: var(--clr-blue);
    border: 2px solid var(--clr-border);
    color: var(--clr-selected);
    justify-self: flex-start;
    cursor: pointer;
    transition: .3s background-color , .3s color;
    @media screen and (min-width:1440px) {
        grid-area: button;
    }
    &:hover {
        color: var(--clr-blue);
        background-color: transparent;
    }
}

.footerContent__link {
    border-top: 2px solid var(--clr-border);
}